*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

main {
  font-size: 2rem;
}

body {
  background-color: azure;
}

.wrapper {
  height: 100vh;
  flex-direction: column;
}

.wrapper, .numpad {
  display: flex;
  align-items: center;
  justify-content: center;
}

.numpad {
  flex-direction: row;
  width: 25%;
  flex-wrap: wrap;
  border: 3px solid black;
}

.number {
  order: -1;
  text-align: center;
  border: 1px solid palevioletred;
  flex-basis: 33.3%;

}
.number:last-of-type {
  flex-basis: 100%;
}

.result {
  width: 25%;
  text-align: right;
  background-color: black;
}

.equation {
  color: gray
}

.eval {
  color: goldenrod
}
